@use "variable.scss" as var;

.button {
	width: fit-content;
	width: -moz-fit-content;

	color: var.$button-font-color;
	font-size: var.$button-font-size;
	font-weight: var.$button-font-weight;

	margin: var.$small-margin;
	padding: var.$button-padding;

	border-radius: var.$button-border-radius;
	border-width: 0;

	cursor: pointer;

	&.primary-button {
		background-color: var.$primary-color;

		&:active  {
			transform: translateY(0.1rem);
		}

		&:hover {
			box-shadow: inset 0 0 0 10em rgba(255, 255, 255, 0.3);
		}
	}

	&.secondary-button {
		background-color: var.$secondary-color;

		&:active  {
			transform: translateY(0.1rem);
		}

		&:hover {
			box-shadow: inset 0 0 0 10em rgba(255, 255, 255, 0.3);
		}
	}

	&.button-title {
		background-color: transparent;
		margin: 0;
	}

	&.button-fixed-width {
		&-small {
			width: var.$button-fixed-width-small;
		}
		&-medium {
			width: var.$button-fixed-width-medium;
		}
		&-big {
			width: var.$button-fixed-width-big;
		}
	}

	&.icon-button {
		margin: 0;
		padding: 0;
		background-color: transparent;
		color: black;

		:hover {
			color: var.$primary-color;
		}
	}

	&.chooseTime-button {
		font-size: var.$chooseTime-button-font-size;
		color: var.$button-font-color;
		background-color: var.$secondary-color;
		flex-grow: 0;
		flex-shrink: 0;
		margin: var.$chooseTime-button-margin;
		padding: var.$chooseTime-button-padding;
		border-radius: 0;
		width: 50%;

		&:nth-child(odd) {
			border-top: var.$chooseTime-button-border;
			border-right: var.$chooseTime-button-border;
			border-left: var.$chooseTime-button-border;
		}

		&:nth-child(even) {
			border-top: var.$chooseTime-button-border;
			border-right: var.$chooseTime-button-border;
		}

		&:nth-child(1) {
			border-top-left-radius: var.$chooseTime-button-border-radius;
		}

		&:nth-child(2) {
			border-top-right-radius: var.$chooseTime-button-border-radius;
		}
		
		&:nth-last-child(1) {
			border-bottom-right-radius: var.$chooseTime-button-border-radius;
			border-bottom: var.$chooseTime-button-border;
		}
		
		&:nth-last-child(2) {
			border-bottom-left-radius: var.$chooseTime-button-border-radius;
			border-bottom: var.$chooseTime-button-border;
		}
	}
}
