@use "variable.scss" as var;

.container {

	margin: var.$container-margin;
	padding: var.$container-padding;

	&.container-useless-wrapper {
		margin: 0;
		padding: 0;
	}

	&.container-flex {
		display: flex;
		align-items: center;

		&.container-flex-row {
			flex-direction: row;
		}

		&.container-flex-column {
			flex-direction: column;
		}
	}

	&-wrap {
		flex-wrap: wrap;
	}

	&.line-container {
		display: flex;
		align-items: center;
		flex-direction: row;
		padding: 0;
	}

	&.area-container {
		display: flex;
		align-items: center;
		flex-direction: column;
		padding: 0;

		& > * {
			margin: 0 0 var.$container-margin 0;

			&:last-child {
				margin: 0;
			}
		}
	}

	&.floating-container {
		position: absolute;
		width: var.$floating-container-width;
		max-height: var.$floating-container-max-height;
		top: var.$top-bar-height;
		left: calc(50% - #{var.$floating-container-width / 2} - #{var.$container-margin} - #{var.$container-padding});
		z-index: 1;
		box-shadow: var.$floating-container-box-shadow-color;
		border-radius: var.$floating-container-border-radius;
		background-color: var.$floating-container-background-color;
		margin: var.$floating-container-margin;
		padding: var.$floating-container-padding;

		// You can only put two elements in this container. 
		& > .floating-container-header {
			display: flex;
			//align-items: center;
			flex-direction: row;

			& > * {
				height: fit-content;
				height: -moz-fit-content;

				&:first-child {
					flex-grow: 1;
					flex-shrink: 0;
				}

				&:last-child {
					flex-grow: 0;
					flex-shrink: 1;
				}
			}
		}

		// You can only put two elements in this container. 
		& > .floating-container-footer {
			display: flex;
			//align-items: center;
			flex-direction: row;

			& > div {
				flex-grow: 1;
				display: flex;

				&:first-child {
					justify-content: flex-start;
				}

				&:last-child {
					justify-content: flex-end;
				}
			}
		}
	}
}
