@use "variable.scss" as var;

input[type="radio"] {
	margin: var.$small-margin;
}

label {
	color: var.$primary-color;
}

input[type="text"], input[type="tel"] {
	border: 0.1rem solid var.$primary-color;
}

textarea {
	border: 0.1rem solid var.$primary-color;
	width: 15rem;
	height: 5rem;
}
