@use "variable.scss" as var;

.loading-animation {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;

	& > .loading-animation-background {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background-color: var.$loading-animation-background-color;
		z-index: 2;
	}

	& > .loading-animation-icon {
		border: var.$loading-animation-icon-border;
		border-radius: var.$loading-animation-icon-border-radius-big;
		width: var.$loading-animation-icon-width;
		height: var.$loading-animation-icon-height;
		z-index: 3;
		animation-name: loading-animation-icon-animation;
		animation-duration: 1s;
		animation-iteration-count: infinite;
		animation-timing-function: ease;
	} @keyframes loading-animation-icon-animation {
		0% {
			border-radius: var.$loading-animation-icon-border-radius-big;
			transform: rotate(0deg);
		}
		50% {
			border-radius: var.$loading-animation-icon-border-radius-small;
		}
		100% {
			border-radius: var.$loading-animation-icon-border-radius-big;
			transform: rotate(360deg);
		}
	}

	&.loading-animation-enabled {
		display: flex;
	}

	&.loading-animation-disabled {
		display: none;
	}
}
