$primary-color: #1CC497;
$secondary-color: #88E7DD;
$dark-color: black;
$light-color: white;

$tiny-margin: 0.3rem;
$small-margin: 0.5rem;
$medium-margin: 0.7rem;
$big-margin: 10rem;

$tiny-padding: 0.3rem;
$small-padding: 0.5rem;
$medium-padding: 0.7rem;
$big-padding: 10rem;

$container-margin: $small-margin;
$container-padding: $small-padding;
$container-fixed-width-small: 10rem;
$container-fixed-width-medium: 14rem;
$container-fixed-width-big: 18rem;
$floating-container-border-radius: 0.5rem;
$floating-container-box-shadow-color: 0 0 1rem $dark-color;
$floating-container-background-color: $light-color;
$floating-container-margin: $small-margin;
$floating-container-padding: $small-padding;

$button-font-color: $light-color;
$button-border-radius: 2rem;
$button-font-size: 1.2rem;
$button-font-weight: bold;
$button-margin: $small-margin;
$button-padding: 1rem 0.5rem;
$button-fixed-width-small: 5rem;
$button-fixed-width-medium: 7rem;
$button-fixed-width-big: 10rem;
$sub-button-font-size: 1rem;
$sub-button-padding: 0.5rem 0.5rem;
$button-tab-border-radius: 1rem 1rem 0 0;
$button-tab-margin: $small-margin $small-margin 0 $small-margin;
$button-tab-padding: $small-padding $medium-padding;
$chooseTime-button-font-size: 1rem;
$chooseTime-button-padding: 0.5rem 0;
$chooseTime-button-margin: 0;
$chooseTime-button-border: 0.15rem solid $light-color;
$chooseTime-button-border-radius: 0.5rem;
$icon-button-margin: 0 0 0 0.3rem;

$top-bar-height: 4rem;

$v-select-min-width: 10rem;

$p-margin: 0 $small-margin 0 0;
$p-textBox-max-width: 20rem;

$floating-container-width: 80%;
$floating-container-max-height: 90%;
